@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,400&family=Varela+Round&display=swap');
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/flexbox.css");
@import url("components/block.css");
@import url("components/avatar.css");
@import url("components/card.css");
@import url("components/footer.css");
@import url("components/navbar.css");
@import url("components/hobbies.css");
@import url("components/skills.css");
@import url("components/aboutme.css");
@import url("components/contact.css");


body {
  background-color: rgba(200,200,200,0.2);
  font-family: 'Montserrat', sans-serif;
  color: rgba(0,0,0,0.9);
  font-size: 1em;
}


h1, h2 {
  font-family: 'Varela Round', sans-serif;
}

h1 {
  color: #98B63A;
  font-size: 2.5em;
}

h2 {
  /*color: #354370;*/
  color: rgba(0,0,0,0.8);
  font-size: 2em;
  margin: 0;
  text-align: left;
  padding-bottom: 20px;
}
p {
  color: rgba(0,0,0,0.9);
  line-height: 1.4
}

a {
  color: #354370;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

section {
  padding-top: 20px;
  padding-bottom: 40px;
}
