.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-radius: 1%;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  position:relative;

}

.card-product img {
  width: 160px;
  object-fit: cover;
}

.card-product h3 {
  font-weight: bold;
  margin: 0;
}

.card-product p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: rgba(0,0,0,0.9);
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos {
  width: 80%;
}

.card-product-infos .category,
.card-product-infos .date,
.card-product-infos .company {
  font-weight: 200;
  font-size: 16px;
}
.card-product-infos .category {
  float: right;
}

.card-product-infos .company {
  padding-bottom: 20px;
}


@media (max-width: 960px) {
  .card-product-infos .category {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .card-product img {
    padding-top: 20px;
  }
}
@media (max-width: 720px) {
  .card-product-infos .category {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .card-product img {
    padding-top: 20px;
  }
}
@media (max-width: 540px) {
  .card-product-infos .category {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .card-product img {
    padding-top: 20px;
  }
}
