.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-radius: 1%;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;

}

.card-product img {
  /*height: 100%;*/
  width: 160px;
  object-fit: cover;
}

.card-product h3 {
  /*font-size: 16px;*/
  font-weight: bold;
  margin: 0;
  /*padding: 0 10px;*/
}

.card-product p {
  /*font-size: 12px;*/
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: rgba(0,0,0,0.7);
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos {
  width: 80%;
}

