.container {
  width: 1040px;
  margin: 0 auto;

}
.container h1, h2 {
  padding-left: 10px;
  padding-right: 10px;
}

.container p {
  padding-left: 20px;
  padding-right: 20px;
}


@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 400px;
  }
}
