.flexbox {
  display: flex;
  align-items: center;
  overflow: hidden
}


.flexbox-intro {
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap-reverse;


}

.flexbox-core {
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

}

.flexbox-interest {
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

}
