footer {
  background-color: #227C9D;
  color: white;
   margin: 5px auto;
   padding: 5px;

}

footer a{
  color: white;
  font-size: 2em;
}

footer h2{
  font-size: 1.5em;
}

footer p {
  text-align: center;
  color: white;
}
