.footer h2 {
  color: white;

}
.footer {
  background-color: #98B63A;
  color: white;
   margin: 5px auto;
   padding: 5px;

}

.footer a{
  color: white;
  font-size: 2em;
}
.footer h2{
  font-size: 1.5em;
}
