section {
  padding-top: 20px;
  padding-bottom: 40px;
}

#intro {
  width: 65%;
}

#core-competences {
  background-color: rgba(250,250,250,0.8);
}

#experiences {


}

#education {

}

#skills {

}

#about-me {

}

#interests {

}
