.skills{
  padding-left: 30px;
  padding-right: 10px;
}
.skillbar {
  position: relative;
  display: block;
  width: 90%;
  margin-bottom: 20px;
}

.skillbar-bar:before {
  background: #fff;
  content: "";
  height: 7px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.skillbar-bar {
  height: 7px;
  width: 0px;
  background: #323232;
  transition-property: width, background-color;
}

.skillbar-bar-success {
  height: 7px;
  background: #86f6ab;
}

.skillbar-bar-medium {
  height: 7px;
  background: #98dedb;
}

.skillbar-bar-final {
  height: 7px;
  background: #fdf06c;
}

.skillbar-title {
  color: #323232;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
}

.skill-bar-percent {
  float: right;
  display: inline-block;
  color: #323232;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
.skills-title-2 {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 30px;
  /*text-align: center;*/
}
